.artist-thumbnail{
  border-bottom: darkgray;
  height:auto;
  max-height: 80px;
  max-width: 80px;
  float: left;
}

.artist-header{
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
}
