<div class="container">
  <div *ngIf="album">
    <header class="album-header">
      <div *ngIf="album.images.length > 0">
        <img class="album-image" src="{{album.images[0].url}}"/>
      </div>

      <h1>{{ album.name }}</h1>
      <p *ngIf="album.artists.length > 0">
        Artists: <span *ngFor="let albart of album.artists">{{ albart.name }}</span>
      </p>
    </header>
    <div class="tracks-holder">
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let track of album.tracks.items" class="tracks well">
            {{track.track_number}}{{ track.name}}
            <button class="btn btn-success preview">Preview on Spotify!!</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
